<!-- page-about.html -->
<section class="module parallax parallax-1">
	<div class="container">
		<h1>TAJ BANJARA</h1>
	</div>
</section>
<section class="module content">
	<div class="container">
		<h2>ABOUT US</h2>
		<P>A hotel always ready to serve you in any time at a affordable price</P>
	</div>
</section>
<section class="module parallax parallax-2">
	<div class="container">
		<h1>OUR RECEPTION READY FOR YOU</h1>
	</div>
</section>
<section class="module content">
	<div class="container">
		<h2>Message from our client's Desk:</h2>
		<p>One of the best hotel to stay ... </p>
	</div>
</section>
