<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse"
			data-target="#collapseOne" data-parent="#accordion">First floor(All 1BHKs with A/C)</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="room">
					<span class="roomNo east " data-room="101" ng-click="getRoomDetails($event)">101</span>
					<span class="roomNo east " data-room="102" ng-click="getRoomDetails($event)">102</span>
					<span class="roomNo east " data-room="103" ng-click="getRoomDetails($event)">103</span>
					<span class="roomNo east " data-room="104" ng-click="getRoomDetails($event)">104</span>
					<span class="roomNo east " data-room="105" ng-click="getRoomDetails($event)">105</span>
					<span class="roomNo east " data-room="106" ng-click="getRoomDetails($event)">106</span>
					<span class="roomNo west " data-room="107" ng-click="getRoomDetails($event)">107</span>
					<span class="roomNo west " data-room="108" ng-click="getRoomDetails($event)">108</span>
					<span class="roomNo west " data-room="109" ng-click="getRoomDetails($event)">109</span>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">Second floor (All 2BHKs with A/C)</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="room">
					<span class="roomNo east " data-room="201" ng-click="getRoomDetails($event)">201</span>
					<span class="roomNo east " data-room="202" ng-click="getRoomDetails($event)">202</span>
					<span class="roomNo east " data-room="203" ng-click="getRoomDetails($event)">203</span>
					<span class="roomNo east " data-room="204" ng-click="getRoomDetails($event)">204</span>
					<span class="roomNo east " data-room="205" ng-click="getRoomDetails($event)"`>205</span>
					<span class="roomNo east " data-room="206" ng-click="getRoomDetails($event)">206</span>
					<span class="roomNo west " data-room="207" ng-click="getRoomDetails($event)">207</span>
					<span class="roomNo west " data-room="208" ng-click="getRoomDetails($event)">208</span>
					<span class="roomNo west " data-room="209" ng-click="getRoomDetails($event)">209</span>
				</div>

			</div>
		</div>
	</div>
</div>

<!--
<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a data-target=".collapse1" href="" data-toggle="collapse" data-parent="#accordion" >Floor-1(all 1 bed Room with AC)</a></h4>
</div>
<div id="collapse1" class="panel-collapse collapse1 collapse in">
<div class="panel-body">
<div class="room">
<span class="roomNo east " data-room="101" ng-click="getRoomDetails($event)">101</span>
<span class="roomNo east " data-room="102" ng-click="getRoomDetails($event)">102</span>
<span class="roomNo east " data-room="103" >103</span>
<span class="roomNo east " data-room="104">104</span>
<span class="roomNo east " data-room="105">105</span>
<span class="roomNo east " data-room="106">106</span>
<span class="roomNo west " data-room="107">107</span>
<span class="roomNo west " data-room="108">108</span>
<span class="roomNo west " data-room="109">109</span>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title"><a href="" data-toggle="collapse" data-parent="#accordion" data-target=".collapse2">Floor-2(all 2 bed room with ac)</a></h4>
</div>
<div id="collapse2" class="panel-collapse collapse collapse2">
<div class="panel-body">
<div class="room">
<span class="roomNo east " data-room="201" ng-click="getRoomDetails($event)">201</span>
<span class="roomNo east " data-room="202" ng-click="getRoomDetails($event)">202</span>
<span class="roomNo east " data-room="203" >203</span>
<span class="roomNo east " data-room="204">204</span>
<span class="roomNo east " data-room="205">205</span>
<span class="roomNo east " data-room="206">206</span>
<span class="roomNo west " data-room="207">207</span>
<span class="roomNo west " data-room="208">208</span>
<span class="roomNo west " data-room="209">209</span>
</div>
</div>
</div>
</div>
</div>
-->
